<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xeniafiorenza.youtube-dl-alfred</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>064D6453-EE67-440D-95BD-6FE72C294AFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>857C5CE3-630A-4A0F-871C-6916D995ADA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2820E063-FB24-411A-ADC8-7A603948AF22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29F6B15D-D1C1-45FC-B8D2-A405BAEDB0D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29F6B15D-D1C1-45FC-B8D2-A405BAEDB0D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92D44E8F-D09B-457E-8388-E07B1198B20D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6388A606-ECB3-47D7-895F-405BBA13E9CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DAD60F5-36FC-4390-BC26-A040BAD546D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>857C5CE3-630A-4A0F-871C-6916D995ADA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9C2E0C-2C9B-4C20-A5B3-CC6016632442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92D44E8F-D09B-457E-8388-E07B1198B20D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8FC9D2A-933E-4149-AEE4-7643E980C99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F31D3FB-257A-40B6-B3AE-B49560A9A0E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A28ECE6A-4674-4C02-B636-A0303A7786C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A28ECE6A-4674-4C02-B636-A0303A7786C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB140B85-06A9-4111-B9E1-5859C47EB98E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7095FE8-6C78-4B40-8A2E-98339CCECE82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F31D3FB-257A-40B6-B3AE-B49560A9A0E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8DAF256A-C46B-4008-A581-A31E89ABE0C1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>064D6453-EE67-440D-95BD-6FE72C294AFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A5C5DA92-E473-4C19-AE51-9AD0DE5B0DF3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2820E063-FB24-411A-ADC8-7A603948AF22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F68C8589-9182-4DA7-824C-E23873E49A06</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6388A606-ECB3-47D7-895F-405BBA13E9CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7C41899-34A6-4830-97FE-3953F1125DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7095FE8-6C78-4B40-8A2E-98339CCECE82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD9C2E0C-2C9B-4C20-A5B3-CC6016632442</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A7EA8F2-795B-48A8-B91A-4DE78D8F4FB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDDEF016-4F83-4766-A525-C3F30B3364E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7C41899-34A6-4830-97FE-3953F1125DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xenia Fiorenza</string>
	<key>description</key>
	<string>Quickly download YouTube videos using youtube-dl.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouTube Download</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error: Invalid URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EB140B85-06A9-4111-B9E1-5859C47EB98E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}.</string>
				<key>title</key>
				<string>Video already downloaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A7EA8F2-795B-48A8-B91A-4DE78D8F4FB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>Set --default-search.*$</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A28ECE6A-4674-4C02-B636-A0303A7786C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^ERROR: </string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9F31D3FB-257A-40B6-B3AE-B49560A9A0E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>ERROR:.*is not a valid URL.*</string>
						<key>outputlabel</key>
						<string>invalid URL</string>
						<key>uid</key>
						<string>8DAF256A-C46B-4008-A581-A31E89ABE0C1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.*already been downloaded.*</string>
						<key>outputlabel</key>
						<string>already downloaded</string>
						<key>uid</key>
						<string>A5C5DA92-E473-4C19-AE51-9AD0DE5B0DF3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>[\S\s]*100% of[\S\s]*</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>F68C8589-9182-4DA7-824C-E23873E49A06</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C7095FE8-6C78-4B40-8A2E-98339CCECE82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[youtube\].*webpage[\s\S].*\[download\] </string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>064D6453-EE67-440D-95BD-6FE72C294AFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^\[download\]\s*100%.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>857C5CE3-630A-4A0F-871C-6916D995ADA9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>FD9C2E0C-2C9B-4C20-A5B3-CC6016632442</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ytdl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>cat &lt;&lt; EOB
{"items": [
	{
		"uid": "video",
		"title": "Video",
		"subtitle": "Download video from YouTube",
		"arg": "$1",
		"icon": {
			"path": "./icon.png"
		}
	},
	{
		"uid": "audio",
		"title": "Audio",
		"subtitle": "Download audio from YouTube",
		"arg": "-x $1",
		"icon": {
			"path": "./icon.png"
		}
	}
]}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a link</string>
				<key>title</key>
				<string>Download from YouTube</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDDEF016-4F83-4766-A525-C3F30B3364E9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} successfully downloaded.</string>
				<key>title</key>
				<string>Video downloaded</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8FC9D2A-933E-4149-AEE4-7643E980C99D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mkdir -p $download_path
cd $download_path
$youtubedl_location $1 2&gt;&amp;1 | cat</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7C41899-34A6-4830-97FE-3953F1125DDF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>92D44E8F-D09B-457E-8388-E07B1198B20D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[youtube\].*webpage[\s\S].*\[download\] Destination: </string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2820E063-FB24-411A-ADC8-7A603948AF22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\[download\][\s\S]*%[\s\S]*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>29F6B15D-D1C1-45FC-B8D2-A405BAEDB0D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:download_path}/Log.txt</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>6388A606-ECB3-47D7-895F-405BBA13E9CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Log file written to {var:download_path} folder.</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4DAD60F5-36FC-4390-BC26-A040BAD546D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup
-----
See the README on https://github.com/xeniafiorenza/youtube-dl-alfred

Usage
-----
* Type `ytdl &lt;link&gt;` and select the corresponding option.</string>
	<key>uidata</key>
	<dict>
		<key>064D6453-EE67-440D-95BD-6FE72C294AFA</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>2820E063-FB24-411A-ADC8-7A603948AF22</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>29F6B15D-D1C1-45FC-B8D2-A405BAEDB0D9</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>4DAD60F5-36FC-4390-BC26-A040BAD546D5</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>6388A606-ECB3-47D7-895F-405BBA13E9CC</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>6A7EA8F2-795B-48A8-B91A-4DE78D8F4FB6</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>857C5CE3-630A-4A0F-871C-6916D995ADA9</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>92D44E8F-D09B-457E-8388-E07B1198B20D</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9F31D3FB-257A-40B6-B3AE-B49560A9A0E4</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>A28ECE6A-4674-4C02-B636-A0303A7786C7</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C7095FE8-6C78-4B40-8A2E-98339CCECE82</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C7C41899-34A6-4830-97FE-3953F1125DDF</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C8FC9D2A-933E-4149-AEE4-7643E980C99D</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EB140B85-06A9-4111-B9E1-5859C47EB98E</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>FD9C2E0C-2C9B-4C20-A5B3-CC6016632442</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>FDDEF016-4F83-4766-A525-C3F30B3364E9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>download_path</key>
		<string>/Users/atlas/Downloads/Videos/Youtube-DL/</string>
		<key>youtubedl_location</key>
		<string>/opt/homebrew/bin/youtube-dl</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youtubedl_location</string>
		<string>download_path</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/xeniafiorenza/youtube-dl-alfred</string>
</dict>
</plist>
